{{!-- Navbar --}}
<nav class="navbar navbar-light bg-light">
	<span class="navbar-brand mb-0 h1">
		<h1 id="navbar-brand-css">New York Times Scraper</h1>
	</span>
	<button class="btn btn-dark" id="scrape">Scrape Articles</button>
</nav>

{{!-- Content Section --}}
<div class="content-container container">
	<div class="row">
		<div class="column">
			<div class="content">

				{{!-- Articles --}}
				{{#each articles}}
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body article-card">
									<div class="row">

										{{!-- Article Info --}}
										<div class="col-6">
											<div>
												<a href={{link}}>
													<h2>{{title}}</h2>
												</a>

												<h6>{{summary}}</h6>

												{{#if image}}
													<img class="article-image" src={{image}}>
												{{/if}}
												<br>
												
											</div>
											<br><br>
										</div>

										{{!-- Comments --}}
										<div class="col-6">
											<div class="modal-container" id="modal-container-{{_id}}">
												<div class="comment-modal">
													
													<div class="close-modal">
														<div class="row">
															<div class="col-6">
																<button class="view-comments btn btn-sm btn-warning" data-id={{_id}}>Join Discussion</button>
															</div>
															<div class="col-6">
																<button class="close-modal-button btn btn-sm btn-warning" id="close-modal-button-id-{{_id}}">Collapse Discussion</button>
															</div>
														</div>
													</div>
													<form class="comment-form" id="comment-form-id-{{_id}}">
														<input class="name-input-{{id}}" type="text" placeholder="Your Name">
														<input class="body-input-{{id}}" type="text" placeholder="Comment Here">
														<button class="post-comment btn btn-sm btn-dark" data-id={{_id}}>Post Comment</button>
													</form>

													<div class="comment-modal-css comment-modal-content-{{id}}">

													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				{{/each}}

			</div>
		</div>
	</div>
</div>